.main-main{
    position:relative;
}

.main{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}

.icon{
    margin-right: 0.5rem;

}

button{
    background-color: #2563DC;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    
}

button div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}
.tasks-columns-container{
    display: flex;
    
}

.modal{
    position: absolute;
    width:50%;
    height:35%;
    /* top: 50%; */
    left:50%;
    transform: translate(-50%);
    z-index:2;
    border-radius: 8px;
    background-color: white;
    padding:0rem 1rem;
    /* background-color:red; */
}

.header{
    margin:0px;
    /* background-color:black; */
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    font-size: 30px;
    height: 2px;
    border:none;
    background-color: black;
}

.modal img{
    padding: 1px;
    border: 2px solid black;
}

.modal h2{
    /* background-color:red; */
}

.Add-Button{
    padding-inline: 3rem;
    font-size: 1.1rem;
}

.input{
    width:50%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 3px 10px;
}

textarea{
    resize: vertical;
    min-height: 1.5rem;
    max-height: 6rem;
}

/* .modal .header img{
    z-index:3;
} */


select{
    width:40%;
}

select::selection{
    font-size:30px;
}

.w-third{
    width: 30%;
}