<div class="main-main">
  <div class="main">
    <h2>Tasks</h2>

    <div class="main">
      <!-- left arrow icon -->
      <img
        class="svg icon"
        src="assets/icons/tasks-actionbar/left-arrow.svg"
        alt="left arrow icon"
      />

      <!-- rigth arrow icon -->
      <img
        class="svg icon"
        src="assets/icons/tasks-actionbar/right-arrow.svg"
        alt="right arrow icon"
      />

      <!-- users icon -->
      <img
        class="svg icon"
        src="assets/icons/tasks-actionbar/users.svg"
        alt="users icon"
      />

      <!-- control icon -->
      <img
        class="svg icon"
        src="assets/icons/tasks-actionbar/controllers.svg"
        alt="controllers icon"
      />

      <button appAdminOnly (click)="toggleModal()">
        <div>
          New task
          <img
            class="svg"
            src="assets/icons/tasks-actionbar/plus.svg"
            alt="plus icon"
          />
        </div>
      </button>
    </div>
  </div>

  @if(isModalOpen){
  <div class="modal">
    <div class="header">
      <h2>New Task</h2>
      <img   (click)="toggleModal()" class="svg" src="assets/images/close-icon.png" alt="" />
    </div>
    <hr class="line" />
    <label for="title-field">Task Title :</label><br/>
    <textarea [formControl]="title" class="input" type="text" id="title-field"></textarea> <br/><br/>
    <label for="myDropdown">Status :</label><br />
    <select [formControl]="status" id="myDropdown" name="myDropdown">
      <option value="todo">Todo</option>
      <option value="inProgress">In Progress</option>
      <option value="done">Done</option>
    </select>
    <br /><br />
    <div class="button-div">
      <button class="Add-Button" (click)="createNewTodo()">Add</button>
    </div>
  </div>
  }
  <div class="tasks-columns-container">
    <app-tasks-column
      class="w-third"
      title="todo"
      backgroundColor="todoColor"
      textColor="todoTextColor"
      svgPath="assets/icons/task-status/todo.svg"
      data="todoTodos"
    ></app-tasks-column>
    <app-tasks-column
      class="w-third"
      title="inProgress"
      backgroundColor="inprogressColor"
      textColor="inprogressTextColor"
      svgPath="assets/icons/task-status/inprogress.svg"
      data="inProgressTodos"
    ></app-tasks-column>
    <app-tasks-column
      class="w-third"
      title="done"
      backgroundColor="doneColor"
      textColor="doneTextColor"
      svgPath="assets/icons/task-status/done.svg"
      data="donrTodos"
    ></app-tasks-column>
  </div>
</div>
