<div class="task-card">
  <div class="card-header">
    <img src="assets/images/user.jpeg" alt="user profile picture" />
    <div>
      <!-- edit Icon -->
      <img
        (click)="edit(todo.id)"
        class="svg"
        src="assets/icons/tasks-action/edit.svg"
        alt="edit Icon"
      />

      <!-- delete Icon -->
      <img
        (click)="delete(todo.id)"
        class="svg"
        src="assets/icons/tasks-action/delete.svg"
        alt="delete Icon"
      />
    </div>
  </div>
  <div class="card-body">
    {{ todo.title }}
  </div>
</div>
