<div class="task-card" cdkDrag>
  <div class="card-header">
    <img src="assets/images/user.jpeg" alt="user profile picture" />
    <div>
      <!-- edit Icon -->
      @if(todo.isEditing){
      <button (click)="edit(todo)">Save</button>
      } @else {
      <img
        (click)="showTextArea(todo)"
        class="svg"
        src="assets/icons/tasks-action/edit.svg"
        alt="edit Icon"
      />
      }

      <!-- delete Icon -->
      <img
        (click)="delete(todo.id)"
        class="svg"
        src="assets/icons/tasks-action/delete.svg"
        alt="delete Icon"
      />
    </div>
  </div>
  @if(todo.isEditing){
  <textarea type="text" [value]="todo.title" [formControl]="title"></textarea>
  } @else{
  <div class="card-body">
    {{ todo.title }}
  </div>
  }
</div>
