.main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-area{
    position: relative;
}
input{
    /* background-color: black; */
    border-width: 1px;
    border-radius: 8px;
    padding: 1rem;
    width: 50rem;
    border-color: #EFEFEF;
}

input::placeholder{
    color: #999999;
    
}

.search-icon{
    position: absolute;
    right:4%;
    top:20%;
}

img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}