.main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-area{
    position: relative;
}
input{
    /* background-color: black; */
    appearance: none;
    -webkit-appearance: none; /* Safari fix */
    -moz-appearance: none;
    outline: none;
    box-shadow: 0;
    border-width: 1px;
    border-radius: 8px;
    padding: 1rem;
    width: 50rem;
    border-color: #EFEFEF;
}

input::placeholder{
    color: #999999;
    font-size: 1.2rem;

}

.search-icon{
    position: absolute;
    right:4%;
    top:20%;
}

img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position:relative;
}

.align{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logout-list{
    position: absolute;
    top:3%;
    /* right:2%; */
}

ul{
    text-decoration: none;
    list-style: none;
    background-color: var(--primary-color);
    color:white;
}

.logout-button{
    background-color: var(--primary-color);
    color:white;
    border-radius: 8px;
    padding:0.5rem
}