<div class="main">
  <div class="search-area">
    <input [formControl]="searchControl" type="text" [placeholder]="'searchBar.search' | translate" />
    <img
      class="svg search-icon"
      src="assets/icons/searchbar/search.svg"
      alt=""
    />
  </div>
  <div class="align">
    <!-- <img class="svg" src="assets/icons/searchbar/notifications.svg" alt="" /> -->
    <img
    (click)="toggle()"
      src="assets/images/user.jpeg"
      alt="user profile icon"
    />
    <!-- <h1>{{ 'searchBar.search' | translate }}</h1> -->
    @if(isButtonShown){
      <button class="logout-button" (click)="logout()">{{ ''}}</button>
    }
    
    <!-- @if(isListShown){
    <div class="logout-list">
      <ul>
        <li>Logout</li>
      </ul>
    </div>
    } -->
  </div>
</div>
